In [58]:
%load_ext autoreload
%autoreload 2


# Import
import pandas as pd
import numpy as np

from utils import *

In [48]:
# Dataset
genedata = pd.read_csv("genedata.csv")
genedata.head()

,id,class,f1,f2,f3,f4,f5,f6,f7,f8,...,f6991,f6992,f6993,f6994,f6995,f6996,f6997,f6998,f6999,f7000
0,1,5,2.3383,10.5440,11.4653,10.4441,10.6311,7.7036,9.6444,7.8501,...,11.9394,11.1349,5.7066,8.2176,9.9062,9.0815,10.5098,11.8648,8.4341,6.7618
1,2,4,3.9151,9.5815,10.3992,9.8333,8.9781,7.0265,9.2761,7.3903,...,11.6547,7.7178,9.3558,7.5026,10.2106,8.9278,10.2466,11.3329,7.8209,7.4350
2,3,5,2.9322,9.3102,11.0756,9.8490,9.4291,8.0618,8.3874,7.9274,...,11.9372,11.2369,6.5860,9.1668,10.3315,9.7551,11.4392,10.7036,8.0041,8.5380
3,4,5,3.9470,8.5315,10.9836,9.3676,9.6856,7.5842,8.5774,8.3737,...,13.2541,11.8221,9.5261,7.4231,11.2862,9.8992,10.4067,11.9044,7.9843,8.5370
4,5,1,4.4618,9.1392,10.9183,10.0490,9.8290,6.5658,9.8122,9.0646,...,11.6416,11.5142,6.5539,7.8319,11.0100,10.1013,11.2682,10.8969,8.1959,8.2906

In [13]:
# check for missing values
genedata.isnull().sum().sum()

0

In [17]:
# check datatype of features
dtypes = [genedata[col].dtypes for col in genedata.columns[2:]]
set(dtypes)

{dtype('float64')}

In [20]:
# get parameters
min_max_values = [(np.min(genedata[col].values), np.max(genedata[col].values), np.mean(genedata[col].values), np.std(genedata[col].values)) for col in genedata.columns[2:]]
np.array(min_max_values[:10])

array([[ 0.        ,  6.7666    ,  4.06873132,  0.86957813],
       [ 6.1925    , 12.056     ,  9.14930667,  0.73448874],
       [ 8.6777    , 14.1661    , 10.88342088,  0.73203483],
       [ 0.        , 11.6407    ,  9.71215145,  0.64459686],
       [ 7.463     , 11.7663    ,  9.69980755,  0.50696498],
       [ 3.2152    , 11.1584    ,  8.09437925,  1.18191474],
       [ 6.7328    , 11.9389    ,  9.7955166 ,  0.78473934],
       [ 2.5169    , 12.6688    ,  8.39200792,  1.45124058],
       [ 7.2849    , 10.7042    ,  8.82566453,  0.53142165],
       [ 4.4419    , 12.5945    ,  9.66866314,  0.88165358]])

In [37]:
# create dictionary
keys = genedata.columns[2:]
dict_attributes = dict(zip(keys, (min_max_values)))

In [43]:
# create with dataframe
df_metrics = pd.DataFrame(data=dict_attributes).T
df_metrics.columns = ['min', 'max', 'mean', 'std']

In [61]:
# Standardization
df_metrics.head()

       min      max       mean       std
f1  0.0000   6.7666   4.068731  0.869578
f2  6.1925  12.0560   9.149307  0.734489
f3  8.6777  14.1661  10.883421  0.732035
f4  0.0000  11.6407   9.712151  0.644597
f5  7.4630  11.7663   9.699808  0.506965

In [68]:
# Apply standardization on genedata dataset
# zscore

genedata_std = pd.DataFrame()

for col in genedata.columns[2:]:
    values_std = zscore(genedata[col].values, df_metrics.loc[col]['mean'], df_metrics.loc[col]['std'])
    genedata_std[col] = values_std

In [69]:
genedata_std.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f6991,f6992,f6993,f6994,f6995,f6996,f6997,f6998,f6999,f7000
0,-1.989966,1.898863,0.794879,1.135514,1.836996,-0.330632,-0.192569,-0.373410,-1.957701,-1.436690,...,0.797802,0.717298,-1.625924,-0.676608,-0.934728,-1.105854,0.409021,1.270972,0.562874,-1.849266
1,-0.176673,0.588427,-0.661472,0.187945,-1.423585,-0.903516,-0.661897,-0.690243,-1.037339,-0.992752,...,0.691128,-1.964352,1.338883,-1.420659,-0.518298,-1.337664,-0.067164,0.011354,-0.410942,-1.009168
2,-1.306992,0.219055,0.262527,0.212301,-0.533977,-0.027565,-1.794375,-0.320145,2.312167,1.359986,...,0.796978,0.797345,-0.911452,0.311160,-0.352902,-0.089935,2.090505,-1.478922,-0.120004,0.367286
3,-0.139989,-0.841138,0.136850,-0.534522,-0.028025,-0.431655,-1.552256,-0.012615,0.411416,-1.036647,...,1.290407,1.256594,1.477244,-1.503390,0.953162,0.127395,0.222491,1.364751,-0.151448,0.366038
4,0.452022,-0.013760,0.047647,0.522572,0.254835,-1.293308,0.021260,0.463460,-0.917096,-0.007104,...,0.686219,1.014962,-0.937532,-1.077979,0.575310,0.432201,1.781129,-1.021159,0.184591,0.058551

In [ ]:
# Remove outliers by